<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button Grid</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <!--Banner-->
    <div class="header">
      <h1>HeyRobo!</h1>
      <p>How can I help?</p>
    </div>

    <!-- Button Grid -->
    <div class="button-grid">
      <button id="thumb-down" class="grid-btn">
        <img
          src="{{ url_for('static', filename='buttons/thumb_down.png') }}"
          alt="Thumb Down"
        />
      </button>
      <button id="mask" class="grid-btn">
        <img
          src="{{ url_for('static', filename='buttons/mask.png') }}"
          alt="Mask"
        />
      </button>
      <button id="thumb-up" class="grid-btn">
        <img
          src="{{ url_for('static', filename='buttons/thumb_up.png') }}"
          alt="Thumb Up"
        />
      </button>
      <button id="left-arm" class="grid-btn">
        <img
          src="{{ url_for('static', filename='buttons/left_arm.png') }}"
          alt="Left Arm"
        />
      </button>
      <button id="help" class="grid-btn">
        <img
          src="{{ url_for('static', filename='buttons/help.png') }}"
          alt="Help"
        />
      </button>
      <button id="right-arm" class="grid-btn">
        <img
          src="{{ url_for('static', filename='buttons/right_arm.png') }}"
          alt="Right Arm"
        />
      </button>
      <button id="left-leg" class="grid-btn">
        <img
          src="{{ url_for('static', filename='buttons/left_leg.png') }}"
          alt="Left Leg"
        />
      </button>
      <button id="pillow" class="grid-btn">
        <img
          src="{{ url_for('static', filename='buttons/pillow.png') }}"
          alt="Pillow"
        />
      </button>
      <button id="right-leg-2" class="grid-btn">
        <img
          src="{{ url_for('static', filename='buttons/right_leg.png') }}"
          alt="Right Leg"
        />
      </button>
    </div>
  </body>
</html>
